h1 FRIENDS
br
form(action="friends/search", method="GET")
 input(type="text", name="q")
 button Search
ul 
 each friend in friends
  li
   span=friend.fullname
br
h2 FRIENDS REQUEST
ul
 each friendReq in friendsReq
  li
   form(action='/user/friends/accepted', method='POST')
    span=friendReq.fullname
    button ACCEPT
