h1 HELLO #{user.name}
 img(src=user.avatar)
br
form(action='/user', method='POST')
 button LOG OUT
ul
  each post in posts
     li
       span=post.content
a(href='/user/history') HISTORY
a(href='/user/friends') FRIENDS

